{{#partial "contents"}}
<div class="container-fluid">
    <form action="/users/{{userId}}" method="post">
        <input type="hidden" name="_method" value="PUT">
        <fieldset>
            <legend>UPDATE FORM</legend>
            <div class="form-group row">
                <label for="githubId" class="col-sm-2 col-form-label">GITHUB ID</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control is-invalid" id="githubId" name="githubId" placeholder="깃허브 아이디를 입력하세요.">
                    <div class="invalid-feedback">존재하지 않는 깃허브 아이디 입니다.</div>
                </div>
                <button type="submit" class="btn btn-primary">업데이트 하기</button>
            </div>
        </fieldset>
    </form>
</div>
{{/partial}}

{{>base}}