<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>커밋 알리미</title>
</head>
<body>

<h2>커밋 알리미</h2>

{{#userName}}
    유저 : {{userName}}
    <a href="/logout" class="btn btn-info active" role="button">로그아웃</a>
{{/userName}}

{{^userName}}
    <a href="/oauth2/authorization/kakao">
        <img src="/resources/images/kakao_login.png" alt="카카오 로그인"/>
    </a>
{{/userName}}



</body>

</html>