{{#partial "contents"}}

<div class="container-fluid">
    <h1>One Day One Commit</h1>
    <p>하루에 한번은 커밋하자!</p>
</div>

{{^loginedUser}}
<div class="container-fluid">
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>커밋 봇 서비스를 이용하시려면 Kakao 로그인을 해주세요!</strong>
    </div>
</div>
{{/loginedUser}}

<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-link">Link</button>

<button type="button" class="btn btn-success">Success</button>

{{#loginedUser}}
    <a href="/users/{{id}}/form">업데이트 폼으로 이동</a>

    {{#githubId}}
        <form id="send_message" action="/api/kakao/sendMessage/users/{{id}}" method="post">
            <button type="submit">메시지 보내기</button>
        </form>
    {{/githubId}}
    {{^githubId}}
        <form id="update_github_id" action="/users/{{id}}" method="post">
            <input type="hidden" name="_method" value="PUT">
            <input type="text" id="githubId" name="githubId" required>
            <label for="githubId">깃허브 아이디</label>
            <button type="submit">깃허브 아이디 등록</button>
        </form>
    {{/githubId}}
{{/loginedUser}}

{{/partial}}

{{>base}}