{{#partial "contents"}}
<div class="col-md-12 text-center">
    <h1>One Day One Commit</h1>
    <p><strong class="text-warning">하루에</strong> <strong class="text-success">한번은</strong> <strong class="text-info">커밋하자!</strong></p>
    <br>
    <p><span class="badge badge-pill badge-warning">커밋까지 남은 시간</span></p>
    <h4 id="timer"></h4>
    <blockquote class="blockquote text-center">
        <br><img src="/images/javajigi.png" class="rounded">
        <p class="mb-0"><img src="/images/alarm.svg" alt="" width="30" height="30" title="커밋시간">
            <small class="text-muted"><span class="badge badge-pill badge-info">오후 11시</span>가 될 때까지 커밋을 하지 않는다면</small></p>
        <p class="mb-0"><small class="text-muted">커밋 봇이 당신을 찾아갑니다</small></p>
        <footer class="blockquote-footer">By <cite title="Source Title">자바지기 요정</cite></footer>
    </blockquote>
    {{^loginedUser}}
        <div class="container-fluid">
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>커밋 봇 서비스를 이용하시려면 Kakao 로그인을 해주세요!</strong>
            </div>
        </div>
    {{/loginedUser}}
    {{#loginedUser}}
        {{#githubId}}
<!--        <form id="send_message" action="/api/kakao/sendMessage/users/{{id}}" method="post">-->
<!--            <button type="submit" class="btn btn-success">나에게 메시지 보내기</button>-->
<!--        </form>-->

        {{#confirmCommit}}
            <p>오늘은 {{todayCommitCount}} 커밋을 하셨네요!</p>
        {{/confirmCommit}}
        <form id="confirm_commit" action="/users/{{id}}/commits" method="get">
            <button type="submit" class="btn btn-success">커밋 확인하기</button>
        </form>
        {{/githubId}}
        {{^githubId}}
        <div class="container-fluid">
            <div class="alert alert-dismissible alert-danger">
                커밋 봇 서비스를 이용하시려면 <strong><a class="text-info" href="/users/{{id}}/form">깃허브 아이디를 등록</a></strong>하셔야 합니다!
            </div>
        </div>
        {{/githubId}}
    {{/loginedUser}}
</div>

<!--<div class="container-fluid">-->
<!--</div>-->


{{/partial}}

{{>base}}